{% extends "base.html" %}
{% load embed_video_tags %}
{% url 'publications' year=2013  %}
{% load markdown_deux_tags %}

{% block content %}
	<script type="text/javascript">
			$(document).ready(function(){
				//Examples of how to assign the Colorbox event to elements
				$(".figures").colorbox({rel:'figures'});
			});
	</script>
	<div style=" background:#eee;font-family:texgyreadventorregular; font-size:28px; border-bottom:0px solid #ccc;">
		<div style="width: 1000px; margin: 0px auto; padding-top:10px; padding-bottom:10px;">
			<span class="maintitle" style="font-family: texgyreadventorbold;">
					ABOUT
				</span>
			<div class="cl"></div>
		</div>
	</div>
	<div style="width: 1000px; margin: 0px auto;">
		<div style="width:480px; margin-bottom:24px; padding-top:16px; border-top:4px solid #ccc; float: left; ">
			
			<div class="subtitleb" style="border-bottom:1px solid #ccc;">
				about
				&nbsp;
				<span style="color:#aaa; font-family: texgyreadventorregular;">evangelos (vangelis) sariyanidi</span>
			</div>
			<div class="text" style="padding-top:6px;">
				<div style="float:left;">
					Currently a PhD candidate in Electronic Engineering 
					in Queen Mary Univ. of London (QMUL).
					<div style="height:12px;"></div>			
					Academically, interested in
					theoretical/applied machine learning and computer vision.
					<div style="height:12px;"></div>			
				</div>
				<div class="cl"></div>
			</div>
			
			<div class="text" style="padding-top:6px;">
					&mdash; Born in Istanbul in 1986 <br/>
					&mdash; B.S. in Control Eng., Istanbul Technical Univ., 2009 <br/>
					&mdash; M.Sc. in Control and Automation Eng., Istanbul Technical Univ., 2012 <br/>
			</div>

		<div class="text" style="margin-top: 12px;">Awarded with the
			best student paper prize in the national (Turkish) conference SIU'12
			with the work on Local Zernike Moments -- see <a href="{% url 'publications' %}"> publications</a>.  
		</div>

		<div class="text" style="margin-top: 12px;">Awarded with a fully funded scholarship from the 
			School of Electronic Engineering and Computer Science (EECS) of QMUL.  
		</div>
	</div>




		<div style="width:480px; margin-bottom:24px; padding-top:16px; border-top:4px solid #ccc; float: left; ">
		
			<div class="subtitleb" style="border-bottom:1px solid #ccc;">
				contact (university)
			</div>
			<div class="text" style="padding-top:6px;">
				<div style="float:left; width:220px;">
					<div class="minititle" style="text-align:left;">
						ADDRESS
					</div>
					<div>
						MMV Lab, Eng. Building, <br/>
						Queen Mary, Univ. of London, <br/>
						Mile End Road, E1 4NS
					</div>
					<div class="minititle" style="text-align:left; margin-top:12px;">
						E-MAIL
					</div>
					<div>
						e.sariyanidi<span class="sansb">[at]</span>qmul<span class="sansb">[dot]</span>ac<span class="sansb">[dot]</span>uk 
					</div>
				</div>
				<div style="float:left; width:250px;">
					<iframe width="250" height="240" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?ie=UTF8&amp;q=Queen+Mary+University+of+London&amp;fb=1&amp;gl=uk&amp;hq=Queen+Mary+University+of+London&amp;hnear=Queen+Mary+University+of+London&amp;cid=13892663523312534809&amp;ll=51.524067,-0.040374&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe></small>	
				</div>
				<div class="cl"></div>
			</div>
		</div>





		<div class="cl"></div>
				
		
		
	</div>
	<div class="cl"></div>
{% endblock %}