{% extends "base.html" %}
{% load embed_video_tags %}
{% url 'publications' year=2013  %}
{% load markdown_deux_tags %}
{% load custom_tags %}

{% block content %}
	<script type="text/javascript">
			$(document).ready(function(){
				//Examples of how to assign the Colorbox event to elements
				$(".figures").colorbox({rel:'figures'});
			});
	</script>
	<div style=" background:#eee;font-family:texgyreadventorregular; font-size:28px; border-bottom:4px solid #ccc;">
		<div style="width: 1000px; margin: 0px auto; padding-top:10px; padding-bottom:10px;">	
			<span class="maintitle" style="font-family: texgyreadventorbold;">PROJECTS</span>
		</div>
	</div>
	<div style="width: 1000px; margin: 0px auto; padding-top:12px;">
	{% for p in projects %}
	<div style="width:440px; margin:10px 20px 10px 0; border:1px solid #ccc; padding:12px 16px 16px 16px;  float:left;">
		<div class="subtitleb" style="border-bottom:1px solid #ccc; margin-bottom:10px;">
			<a class="subtitleb" href='{% url 'project' p.title|slugify p.id%}'>{{p.title}}</a>
		</div>
		<div style="float:left; width:130px;">
			<a href="{% url 'project' p.title|slugify p.id%}"><img src="{{ MEDIA_URL  }}/l_tn{{p.getFirstImage}}"/></a>
		</div>
		<div style="float:left; margin-left:4px; width:300px;" class="text">{{p.text | markdown | striptags |truncatechars:180}}
			<div class="hr" style="margin-top:8px; margin-bottom:8px;"></div>
			<div class="tinytitle" style="text-align: left;"> <a class="tinytitleb" href='{% url 'project' p.title|slugify p.id%}	'>see project</a> 
			
				<span style="color:#aaa;"> &nbsp; &mdash; &nbsp;
				 {{p.get_videos|length}} videos,&nbsp; {{p.get_images|length}} images +code</span>
			 </div>
		 </div>
	</div>
	{% endfor %}
	<div class="cl"></div>
	
	</div>
	<div class="cl"></div>
{% endblock %}